/* font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif; */

.container1 {
    background-color: #11AEEE;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
}

.container2 {
    background-color: white;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
}

.container3 {
    background-color: #11AEEE;
    color: #fff;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container4 {
    background-color: white;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
}

.img1 {
    height: 60%;
}

.img2 {
    height: 50%;
}

.htwo {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    letter-spacing: 10px;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.contONEhfour {
    font-family: 'Quattrocento', serif;
    letter-spacing: 2px;
    line-height: 1.4;
    text-align: center;
}

.hfour {
    font-family: 'Quattrocento', serif;
    line-height: 1.4;
    text-align: center;
    padding: 2rem;
}

.first-line {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    color: #fff;
}

.leftside {
    color: #fff;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
}

.rightside {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;


}

.rs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;

}

nav {
    background-color: white;
    height: 50px;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.dotpoints-one {

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.dotpoints-two {

    display: flex;
    padding: 20px;
}

.dotSec {

    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 18px;

}

.topsection {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ryan-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 45%;
}

.zac-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 45%;
}

.ry-img {
    height: 50%;
    border-radius: 50%;
}

.zac-img {
    height: 50%;
    border-radius: 50%;
}

button {
    background-color: grey;
    color: #333;
    text-decoration: none;
    height: 40px;
    width: 30%;
}

.podskills {
    width: 100%;
}
